absl-py==2.5.0
aiofiles==25.1.0
array-api-compat==1.15.0
array-api-extra==0.11.4
casadi==3.8.1
cloudpickle==3.1.2
crazyflow @ git+https://github.com/learnsyslab/crazyflow.git@5e538320b4cddf926aa2a217a53e82eaba1b01ee
einops==0.8.2
etils==1.14.0
farama-notifications==0.0.6
flax==0.12.8
fsspec==2026.9.0
glfw==2.10.2
gymnasium==1.3.0
humanize==4.16.0
imageio==2.37.4
jax==0.10.1
jaxlib==0.10.1
markdown-it-py==4.2.0
mdurl==0.1.2
ml-collections==1.1.0
ml-dtypes==0.6.0
msgpack==1.2.2
mujoco==3.10.0
mujoco-mjx==3.10.0
numpy==2.4.6
opt-einsum==3.4.0
optax==0.2.8
orbax-checkpoint==0.12.4
packaging==26.3
pillow==12.3.0
prometheus-client==0.26.0
protobuf==7.36.2
psutil==7.2.2
pygments==2.21.0
pyopengl==3.1.10
pyyaml==6.0.3
rich==15.0.0
scipy==1.17.1
simplejson==4.1.2
tensorstore==0.1.85
treescope==0.1.10
trimesh==5.1.0
typing-extensions==4.16.0
uvloop==0.22.1
zipp==4.1.0
